<header class="maincontainer">
  <div class="menu-wrap">
    <a href="/search"></a>
    <label for="checkbox"><img class="logo" src="assets/logo.png" /></label>
    <h1 class="login">Film Galaxy</h1>
    <input class="checkbox" type="checkbox" name="" id="checkbox" />
    <nav class="navigation">
      <ul>
        <li>
          <form
            #userForm="ngForm"
            (ngSubmit)="movieSearchSubmit(userForm)"
            novalidate
            class="searchBar"
          >
            <input type="text" #name="ngModel" name="movieSearch" class="searchInput" ngModel />
            <button type="submit" class="searchMovieBtn btn">Search Title</button>
          </form>
        </li>

        <li>
          <button routerLink="/search" class="navButton btn">
            Advanced Search
          </button>
        </li>
        <li>
          <button routerLink="/watchList" class="navButton btn">Watch List</button>
        </li>
      </ul>
    </nav>
    <div class="profile">
      <i class="user fas fa-user-circle"></i>
      <p class="greeting">Where to, DAVE?</p>
    </div>
  </div>
</header>
