<div class="maincontainer">
  <a href="/search"><img src="assets/logo.png" height="10%" /></a>
  <span class="login">Film Galaxy</span>
  <form
    #userForm="ngForm"
    (ngSubmit)="movieSearchSubmit(userForm)"
    novalidate
    class="searchBar">
    <input type="text" #name="ngModel" name="movieSearch" ngModel />
    <button type="submit" class="searchMovieBtn">Search Movie</button>
  </form>
  <button routerLink="/search" class="navButton">Advanced Search</button>
  <button routerLink="/watchList" class="navButton">Watch List</button>
  <span class="loginGreeting">Where to, DAVE?</span>
</div>
