.moviePoster {
  display: inline-block;
  margin: 30px;
}

.searchMovie {
  margin-left: 20px;
}

.searchMovie:hover {
  cursor: pointer;
}

.feedTitle {
  text-align: center;
  width: 200px;
}

.mat-expansion-panel {
  width: 260px;
  margin: auto;
}

.feedRelease {
  text-align: center;
  width: 200px;
}

.feedRating {
  text-align: center;
  width: 200px;
}

h4 {
  text-align: center;
  width: 200px;
}

.fas {
  color: yellow;
}
