<div class="header">
  <div class="imageContainer">
    <img class="poster" src="{{ feeds.poster_path }}" alt="" />
  </div>
  <div class="textContainer">
    <h1 class="movieTitle">{{ feeds.title }}</h1>
    <p>[movie tag line]</p>
    <p>Genre: Action</p>
    <p>Run Time: 120 min</p>
    <p>Released: {{ feeds.release_date }}</p>
  </div>
</div>

<div class="body">
  <div class="description">
    <h2>Movie Description</h2>
    <h4>
      {{ feeds.overview }}
    </h4>
    <p>Rated: R (Violence, Drugs, etc etc.)</p>
  </div>
  <div class="castCrew">
    <h3>Cast</h3>
    <div class="castPics">
      <div class="oneCast">
        <img
          class="castPhoto"
          src="../../assets/No-Photo-Available-NEW-1.png"
          alt=""
        />
        <span class="name">Brad Pitt</span>
      </div>
      <div class="oneCast">
        <img
          class="castPhoto"
          src="../../assets/No-Photo-Available-NEW-1.png"
          alt=""
        />
        <span class="name">Edward Norton</span>
      </div>
      <div class="oneCast">
        <img
          class="castPhoto"
          src="../../assets/No-Photo-Available-NEW-1.png"
          alt=""
        />
        <span class="name">Some other guy</span>
      </div>
    </div>
  </div>
</div>
