<div class="header">
  <div class="imageContainer">
    <img class="poster" src="../../assets/fight-club.jpeg" alt="" />
  </div>
  <div class="textContainer">
    <h1 class="movieTitle">Fight Club</h1>
    <p>[movie tag line]</p>
    <p>Genre: Action</p>
    <p>Run Time: 120 min</p>
    <p>Released: 1999</p>
  </div>
</div>

<div class="body">
  <div class="description">
    <h2>Movie Description</h2>
    <h4>
      In this provocative drama co-starring Brad Pitt and Edward Norton and
      directed by David Fincher, a disaffected man and his charismatic friend
      organize brutal, bare-knuckle boxing matches.
    </h4>
    <p>Rated: R (Violence, Drugs, etc etc.)</p>
  </div>
  <div class="castCrew">
    <h3>Cast</h3>
    <div class="castPics">
      <div class="oneCast">
        <img
          class="castPhoto"
          src="../../assets/No-Photo-Available-NEW-1.png"
          alt=""
        />
        <span class="name">Brad Pitt</span>
      </div>
      <div class="oneCast">
        <img
          class="castPhoto"
          src="../../assets/No-Photo-Available-NEW-1.png"
          alt=""
        />
        <span class="name">Edward Norton</span>
      </div>
      <div class="oneCast">
        <img
          class="castPhoto"
          src="../../assets/No-Photo-Available-NEW-1.png"
          alt=""
        />
        <span class="name">Some other guy</span>
      </div>
    </div>
  </div>
</div>
